@model BOs.SilverJewelry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SilverJewelry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SilverJewelryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SilverJewelryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SilverJewelryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SilverJewelryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SilverJewelryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
